<div class="" style="overflow: auto; height: 90vh;">
    <div class="d-flex align-items-center justify-content-center flex-wrap w-100">
        <div class="col-md-6 text-center">
            <h1>Click Raise Complaint Button to resolve your doubts</h1>
            <button class="btn btn-primary" routerLink="/complaint">Raise Complaint</button>
          </div>
          <div class="col-md-6">
            <img src="https://img.freepik.com/free-vector/flat-design-illustration-customer-support_23-2148887720.jpg?w=740&t=st=1685422012~exp=1685422612~hmac=c4853fe649840bb925e5f63474cb51088aef2be71804399309fb6378bf102d61" alt="" class="img-fluid">
          </div>
    </div>
    <app-footer></app-footer>
  </div>
